doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="styles/index.css")
        script(src="js/vendor.js")
    body
        h1 New Project


        script(src="js/common.js")
